In [1]:
import pandas as pd
import numpy as np

In [2]:
#In loan_data_preprocessed we conatenated PD data and LGD and EAD data and it was possible because 
#the indices of both these dataframe are same.

In [3]:
loan_data_preprocessed_new=pd.read_csv('loan_data_preprocessed_new.csv')

C:\Users\Sonit Prasad\AppData\Local\Temp\ipykernel_1300\2058194596.py:1: DtypeWarning: Columns (23,51) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data_preprocessed_new=pd.read_csv('loan_data_preprocessed_new.csv')

In [4]:
loan_data_preprocessed_new.head()

,Unnamed: 0.4,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,...,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86,PD
0,0,0,0,0,1077501,1296599,5000,5000,4975.0,36 months,...,0,0,1,0,0,0,0,0,0,0.029585
1,1,1,1,1,1077430,1314167,2500,2500,2500.0,60 months,...,0,0,1,0,0,0,0,0,0,0.092147
2,2,2,2,2,1077175,1313524,2400,2400,2400.0,36 months,...,0,0,1,0,0,0,0,0,0,0.037358
3,3,3,3,3,1076863,1277178,10000,10000,10000.0,36 months,...,0,0,1,0,0,0,0,0,0,0.204335
4,4,4,4,4,1075358,1311748,3000,3000,3000.0,60 months,...,1,0,1,0,0,0,0,0,0,0.200837

In [5]:
loan_data_preprocessed_new['EL'] = loan_data_preprocessed_new['PD'] * loan_data_preprocessed_new['LGD'] * loan_data_preprocessed_new['EAD']
# We calculate Expected Loss. EL = PD * LGD * EAD.

In [6]:
loan_data_preprocessed_new['EL'].describe()
# Shows some descriptive statisics for the values of a column.

count    466285.000000
mean       1084.773247
std        1085.934456
min           4.247836
25%         361.662560
50%         737.618217
75%        1425.660896
max       16175.275755
Name: EL, dtype: float64

In [7]:
#Average expected loss per exposure is about 1084.77

#We can also check the expected loss for every single loan.

In [8]:
loan_data_preprocessed_new[['funded_amnt', 'PD', 'LGD', 'EAD', 'EL']].head()

   funded_amnt        PD       LGD          EAD           EL
0         5000  0.029585  0.913729  2949.608449    79.734651
1         2500  0.092147  0.915482  1944.433378   164.029423
2         2400  0.037358  0.919484  1579.934302    54.271104
3        10000  0.204335  0.904924  6606.559612  1221.601109
4         3000  0.200837  0.911453  2124.631667   388.920532

In [9]:
#lets see index 1, funded amount is 2500 and expected loss out of it is 164.02

In [10]:
loan_data_preprocessed_new['funded_amnt'].describe()

count    466285.000000
mean      14291.801044
std        8274.371300
min         500.000000
25%        8000.000000
50%       12000.000000
75%       20000.000000
max       35000.000000
Name: funded_amnt, dtype: float64

In [11]:
loan_data_preprocessed_new['EL'].sum()
# Total Expected Loss for all loans.

505813493.66850203

In [12]:
#the above is the total loss

In [13]:
loan_data_preprocessed_new['funded_amnt'].sum()
# Total funded amount for all loans.

6664052450

In [14]:
loan_data_preprocessed_new['EL'].sum() / loan_data_preprocessed_new['funded_amnt'].sum()
# Total Expected Loss as a proportion of total funded amount for all loans.
####
####
####
# THE END.

0.0759017876080045

In [ ]:
#Banks holds 10% of capital so the percentage should be below 10% and in this case it is.